@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    cursor: pointer;
    list-style-type: none;
}

input::placeholder{
    font-size: 1rem;
    padding-left: 0.8rem;
}

.swiper-button-prev {
    /* color: orangered !important; */
    margin-left: 1rem !important;
    display: none !important;
}
.swiper-button-next {
    /* color: orangered !important; */
    margin-right: 1rem !important;
    display: none !important;
}

/* .swiper-pagination-bullet {
    width: 50px !important;
    height: 20px !important;
} */

